.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fcf8f8;
    max-width: 1450px;
    min-width: 1450px;
    // padding: 0.5rem;
    padding: 0rem 0.5rem;
}
