.pageWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    gap: 2rem;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.title {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 1rem;
}

.contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    min-width: 500px;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    &:focus {
        outline: none;
    }
}

.searchInputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 1000px; // 더 넓게
    min-width: 0;
    border-radius: 20px;
    border: none;
}

.filterButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    border-radius: 16px;
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
    color: white;
    background-color: #ea2a33;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    align-self: center;
    &:hover {
        background-color: #c0262d;
    }
}

.importCSVbutton {
    display: flex;
    flex-direction: row;
    background: none;
    border: 2px solid;
    border-color: #e7d0d1;
    border-radius: 16px;
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
    color: black;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    align-self: center;

    &:hover {
        background-color: #e6e6e6;
    }
}

.addButton {
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    border-radius: 16px;
    padding: 0.7rem 1rem;
    font-size: 0.7rem;
    color: white;
    background-color: #ea2a33;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    align-self: center;

    &:hover {
        background-color: #cd141d;
    }
}
